@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.success {
		@apply bg-[green] text-white px-2 rounded dark:bg-green-800 dark:text-slate-400;
	}

	.danger {
		@apply bg-[red] text-white px-2 rounded dark:bg-red-800 dark:text-slate-400;
	} 
}


/* Material Design Icons Start */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Material Design Icons End */

